<!DOCTYPE HTML>

<html>
	<head>
		<title>Wonderful Bengkulu 2020</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="index.html">Wonderful Bengkulu 2020</a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="media.html">Media</a></li>
					<li><a href="kreatif.html">Kreatif</a></li>
					<li><a href="destinasi.html">Destinasi</a></li>
					<li><a href="akomodasi.html">Akomodasi</a></li>
					<li><a href="layanan.html">Layanan</a></li>
					<li><a href="tentang.html">Tentang Kami</a></li>
					<li><a href="login.html">Login</a></li>
				</ul>
			</nav>


		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>#visitbengkulu</p>
						<h2>KREATIF</h2>
					</header>
				</div>
			</section>

		<!-- Two -->
		<section id="one" class="wrapper style2">
			<div class="inner">
				<div class="grid-style">

					<div>
						<div class="box">
							<div class="image fit">
								<img src="images/pic02.jpg" alt="" />
							</div>
							<div class="content">
								<header class="align-center">
									<p>Komunitas kreatif di Bengkulu</p>
										<h2>KOMUNITAS</h2>
								</header>
								<footer class="align-center">
									<a href="kreatif/komunitas.html" class="button alt">Lebih Lanjut</a>
								</footer>
							</div>
						</div>
					</div>

					<div>
						<div class="box">
							<div class="image fit">
								<img src="images/pic03.jpg" alt="" />
							</div>
							<div class="content">
								<header class="align-center">
									<p>Jadwal Event yang sudah dan atau sedang berjalan di Bengkulu</p>
									<h2>EVENT</h2>
								</header>
								<footer class="align-center">
									<a href="kreatif/event.html" class="button alt">Lebih Lanjut</a>
								</footer>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; DINAS PARIWISATA PROVINSI BENGKULU. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
            <script src="assets/js/lightbox-plus-jquery.min.js"></script>

	</body>
</html>
