<!DOCTYPE HTML>

<html>
	<head>
		<title>Wonderful Bengkulu 2020</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="index.html">Wonderful Bengkulu 2020</a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="media.html">Media</a></li>
					<li><a href="kreatif.html">Kreatif</a></li>
					<li><a href="destinasi.html">Destinasi</a></li>
					<li><a href="akomodasi.html">Akomodasi</a></li>
					<li><a href="layanan.html">Layanan</a></li>
					<li><a href="tentang.html">Tentang Kami</a></li>
					<li><a href="login.html">Login</a></li>
				</ul>
			</nav>

		<!-- One -->
		<section id="One" class="wrapper style3">
			<div class="inner">
				<header class="align-center">
					<p>#visitbengkulu</p>
					<h2>LOGIN</h2>
				</header>
			</div>
		</section>

		<!-- Form -->
		<section id="One" class="wrapper style3">
				<div class="inner">

				<form method="post" action="#">
					<div class="row uniform">
						<div class="6u 12u$(xsmall)">
							<input type="text" name="userid" id="userid" value="" placeholder="Nama" />
						</div>
						<div class="6u$ 12u$(xsmall)">
							<input type="password" name="password" id="password" value="" placeholder="Password" />
						</div>

						<div class="6u$ 12u$(small)">
							<input type="checkbox" id="human" name="human" checked>
							<label for="human">I am a human and not a robot</label>
						</div>
						<!-- Break -->
						<div class="12u$">
							<ul class="actions">
								<li><input type="submit" value="Login" /></li>
							</ul>
						</div>
					</div>
				</form>

				<hr />
                </div>
        </section>
                    

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; DINAS PARIWISATA PROVINSI BENGKULU. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
            <script src="assets/js/lightbox-plus-jquery.min.js"></script>
        
	</body>
</html>
